In [16]:
import pandas as pd

In [17]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/SYB67_245_202411_Public%20expenditure%20on%20education%20and%20access%20to%20computers.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,T09,Public expenditure on education (as of 2021),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,4,Afghanistan,2010,Current expenditure other than staff compensat...,9.3,NaN,"United Nations Educational, Scientific and Cul..."
2,4,Afghanistan,2010,All staff compensation as % of total expenditu...,72.4,NaN,"United Nations Educational, Scientific and Cul..."
3,4,Afghanistan,2010,Capital expenditure as % of total expenditure ...,18.3,NaN,"United Nations Educational, Scientific and Cul..."
4,4,Afghanistan,2015,Current expenditure other than staff compensat...,9.0,NaN,"United Nations Educational, Scientific and Cul..."

In [18]:
df.shape

(2261, 7)

In [19]:
df.rename(columns={
    'T09' : 'Region/Country/Area',
    'Unnamed: 2' : 'Year',
    'Unnamed: 3' : 'Series',
    'Unnamed: 4' : 'Value',
    'Unnamed: 5' : 'Footnotes',
    'Unnamed: 6' : 'Source'
}, inplace=True)

df.head()

,Region/Country/Area,Public expenditure on education (as of 2021),Year,Series,Value,Footnotes,Source
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,4,Afghanistan,2010,Current expenditure other than staff compensat...,9.3,NaN,"United Nations Educational, Scientific and Cul..."
2,4,Afghanistan,2010,All staff compensation as % of total expenditu...,72.4,NaN,"United Nations Educational, Scientific and Cul..."
3,4,Afghanistan,2010,Capital expenditure as % of total expenditure ...,18.3,NaN,"United Nations Educational, Scientific and Cul..."
4,4,Afghanistan,2015,Current expenditure other than staff compensat...,9.0,NaN,"United Nations Educational, Scientific and Cul..."

In [20]:
# Drop the first row (index 0) as it contains header values
df.drop(index=0, inplace=True)

df.head()

,Region/Country/Area,Public expenditure on education (as of 2021),Year,Series,Value,Footnotes,Source
1,4,Afghanistan,2010,Current expenditure other than staff compensat...,9.3,NaN,"United Nations Educational, Scientific and Cul..."
2,4,Afghanistan,2010,All staff compensation as % of total expenditu...,72.4,NaN,"United Nations Educational, Scientific and Cul..."
3,4,Afghanistan,2010,Capital expenditure as % of total expenditure ...,18.3,NaN,"United Nations Educational, Scientific and Cul..."
4,4,Afghanistan,2015,Current expenditure other than staff compensat...,9.0,NaN,"United Nations Educational, Scientific and Cul..."
5,4,Afghanistan,2015,All staff compensation as % of total expenditu...,71.4,NaN,"United Nations Educational, Scientific and Cul..."

In [21]:
null_values = df.isnull().sum()

print(null_values)

Region/Country/Area                                0
Public expenditure on education (as of 2021)       0
Year                                               0
Series                                             0
Value                                              0
Footnotes                                       2228
Source                                             0
dtype: int64

In [22]:
describe_table = df.groupby('Region/Country/Area')['Value'].describe()

# Display the table
print(describe_table)

                    count unique   top freq
Region/Country/Area
100                    14     14  26.7    1
104                    10     10   9.3    1
108                    13     12   0.0    2
112                    18     13   100    4
116                     5      5  57.3    1
...                   ...    ...   ...  ...
887                     2      2  25.7    1
894                    11     11  25.2    1
90                      3      3  13.2    1
92                     14     11   100    4
96                      7      4   100    4

[201 rows x 4 columns]

In [23]:
# Display the unique values for each column
for column in df.columns:
    print(f"Unique values in column '{column}':")
    print(df[column].unique())
    print("\n")

Unique values in column 'Region/Country/Area':
['4' '8' '12' '16' '20' '24' '660' '28' '32' '51' '533' '36' '40' '31'
 '48' '50' '52' '112' '56' '84' '204' '60' '64' '68' '70' '72' '76' '92'
 '96' '100' '854' '108' '132' '116' '120' '124' '136' '140' '148' '152'
 '156' '344' '446' '170' '174' '178' '184' '188' '384' '191' '192' '531'
 '196' '203' '180' '208' '262' '212' '214' '218' '818' '222' '232' '233'
 '748' '231' '242' '246' '250' '266' '270' '268' '276' '288' '292' '300'
 '308' '320' '324' '624' '328' '340' '348' '352' '356' '360' '364' '372'
 '376' '380' '388' '392' '400' '398' '404' '296' '414' '417' '418' '428'
 '422' '426' '430' '438' '440' '442' '450' '454' '458' '462' '466' '470'
 '584' '478' '480' '484' '583' '492' '496' '499' '500' '504' '508' '104'
 '516' '520' '524' '528' '554' '558' '562' '570' '807' '578' '512' '586'
 '585' '591' '600' '604' '608' '616' '620' '630' '634' '410' '498' '642'
 '643' '646' '659' '662' '670' '882' '674' '678' '682' '686' '688' '690'
 '694' '702' '534' '703' '705' '90' '710' '728' '724' '144' '275' '729'
 '752' '756' '760' '762' '764' '626' '768' '772' '776' '780' '788' '792'
 '795' '796' '798' '800' '804' '784' '826' '834' '840' '858' '860' '548'
 '862' '704' '887' '894' '716']


Unique values in column 'Public expenditure on education (as of 2021)':
['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'British Virgin Islands' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, Macao SAR' 'Colombia' 'Comoros' 'Congo' 'Cook Islands'
 'Costa Rica' 'Côte d’Ivoire' 'Croatia' 'Cuba' 'Curaçao' 'Cyprus'
 'Czechia' 'Dem. Rep. of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Eritrea' 'Estonia'
 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Grenada' 'Guatemala'
 'Guinea' 'Guinea-Bissau' 'Guyana' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait'
 'Kyrgyzstan' "Lao People's Dem. Rep." 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Fed. States of)' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands (Kingdom of the)' 'New Zealand' 'Nicaragua'
 'Niger' 'Niue' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent & Grenadines' 'Samoa' 'San Marino' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'State of Palestine'
 'Sudan' 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan'
 'Thailand' 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago'
 'Tunisia' 'Türkiye' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United Rep. of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Yemen'
 'Zambia' 'Zimbabwe']


Unique values in column 'Year':
['2010' '2015' '2019' '2021' '2022' '2023' '2006' '2013' '2016' '2005'
 '2008' '2002' '2009' '2018' '2004' '2014' '2000' '2020' '2012' '2003'
 '2017' '2007' '2011' '2001']


Unique values in column 'Series':
['Current expenditure other than staff compensation as % of total expenditure in public institutions (%)'
 'All staff compensation as % of total expenditure in public institutions (%)'
 'Capital expenditure as % of total expenditure in public institutions (%)'
 'Basic access to computers by level of education: Primary'
 'Basic access to computers by level of education: Lower secondary'
 'Basic access to computers by level of education: Upper secondary']


Unique values in column 'Value':
['9.3' '72.4' '18.3' '9.0' '71.4' '19.6' '10' '23' '12.5' '79.5' '8.1'
 '7.4' '84.2' '8.4' '83.0' '83' '67' '8.9' '80.4' '10.6' '61.9' '99' '6.2'
 '30.9' '36.7' '1.7' '59.4' '40.0' '0.6' '63.6' '1.3' '58.1' '40.7'
 '100.0' '100' '24.3' '7.0' '25' '49' '6.7' '80.9' '9.8' '69.4' '20.8'
 '25.7' '3.9' '21.6' '73.2' '5.2' '90.0' '11.6' '87.6' '0.8' '9.9' '85.9'
 '4.2' '7.2' '82.0' '10.8' '58.7' '72' '75' '7.9' '88.0' '4.1' '62.7' '57'
 '59' '8.5' '65.5' '26.0' '88.5' '19.9' '72.1' '8.0' '6.1' '90.7' '3.2'
 '5.7' '87.0' '6.9' '93.1' '93.0' '24.7' '68.3' '27.1' '65.2' '7.7' '23.2'
 '4.7' '24.9' '70.2' '4.9' '26.2' '5.5' '24.4' '68.7' '6.8' '31.6' '66.8'
 '1.6' '32.6' '64.8' '2.5' '45.9' '52.0' '2.2' '25.0' '9.6' '97.8' '98.4'
 '13.8' '82.3' '3.8' '21.2' '59.8' '19.0' '4.3' '95.2' '0.5' '16.0' '55.0'
 '29.0' '41.7' '77' '76' '78' '16.2' '79.9' '4.0' '10.4' '83.4' '47.8'
 '48.6' '3.6' '45.0' '53.8' '1.2' '30.1' '4.8' '26.5' '62.6' '10.9' '26.4'
 '68.9' '22.0' '68.8' '9.2' '11.7' '85.5' '2.8' '11.9' '84.3' '13.9'
 '81.0' '5.0' '12.8' '81.7' '5.4' '96.8' '12.6' '82.2' '5.1' '62.3' '19.3'
 '13.3' '73.0' '13.7' '85.7' '8.2' '22.2' '69.5' '8.3' '29' '37' '18.6'
 '1.5' '50.1' '35.9' '14.0' '14.5' '86' '97' '23.1' '10.0' '67.3' '14.4'
 '28' '17.5' '69.1' '13.4' '82.4' '27.9' '23.6' '70.3' '68.5' '40.5' '90'
 '24.0' '69.7' '21.3' '74.7' '22.9' '74.6' '53.5' '73' '20.3' '75.9' '3.7'
 '2.3' '90.3' '0.7' '99.3' '15.1' '77.8' '7.1' '65.6' '30.6' '66.2' '26.7'
 '63.2' '10.1' '28.4' '66.6' '20.9' '71.8' '7.3' '43.3' '20.0' '75.4'
 '4.5' '56.7' '35.3' '4' '3' '15.7' '57.8' '26.6' '23.7' '20.5' '77.6'
 '1.9' '0.0' '17' '0' '2.1' '16.7' '15.6' '77.1' '14.3' '12.2' '82.8'
 '51.5' '57.3' '42.7' '5.3' '15' '6.5' '80.2' '10.7' '75.7' '13.6' '84'
 '25.4' '70.0' '4.6' '24.5' '65.8' '9.7' '22.8' '7.8' '78.1' '22.7' '69.9'
 '85.8' '21.5' '2.4' '97.6' '76.9' '79.2' '13.5' '1.1' '31.3' '2.6' '75.5'
 '21.9' '8' '12' '4.4' '18.1' '78.9' '3.0' '63.9' '68.0' '51.6' '25.6'
 '69.3' '92' '12.7' '18.2' '90.9' '19.5' '39.0' '41.5' '31.7' '59.1'
 '21.1' '67.8' '11.2' '23.3' '71.0' '22.3' '66.4' '27.4' '93.9' '5.8'
 '69.0' '25.2' '83.6' '13.2' '81.2' '93' '95' '78.0' '91' '30.8' '41' '52'
 '20' '61' '16.3' '75.0' '72.9' '71.7' '87' '75.1' '2.9' '21.8' '71.2'
 '21.4' '72.7' '5.9' '82.6' '77.7' '47' '15.8' '30.0' '23.0' '70.6' '6.4'
 '26.3' '17.4' '74.5' '41.9' '34.3' '52.6' '58.6' '0.9' '86.1' '11.5'
 '77.5' '11.0' '13.0' '82.9' '87.9' '83.2' '32.5' '34.4' '56.0' '38.4'
 '56.6' '35.5' '96.7' '30.3' '60.4' '98.3' '98.8' '87.8' '81.4' '16.9'
 '20.7' '74.1' '18.0' '74.9' '73.7' '72.5' '42.2' '2.7' '38.8' '24.1'
 '72.6' '3.4' '15.5' '66.9' '17.6' '46.5' '48' '11.3' '86.2' '72.8' '89'
 '86.4' '98' '84.1' '27.3' '37.8' '51.7' '10.5' '59.0' '81' '67.1' '48.3'
 '68' '61.0' '79' '96' '94.1' '99.6' '21.7' '8.6' '31.0' '57.7' '28.8'
 '56.3' '15.0' '9.5' '26.9' '22.5' '12.0' '36.2' '59.3' '21.0' '44.8'
 '34.1' '42.4' '38.3' '98.7' '0.1' '32.1' '60.9' '33.6' '60.3' '34.7'
 '56.5' '8.8' '54.3' '11.4' '52.8' '76.2' '38.2' '45.5' '46.4' '42.8'
 '50.4' '20.1' '73.1' '18.7' '54.0' '63.0' '14.7' '73.3' '13' '35' '42.3'
 '54.2' '3.5' '80.0' '50.7' '3.3' '32.4' '75.3' '44' '66' '37.4' '28.1'
 '68.4' '67.6' '12.3' '6.3' '92.3' '1.4' '61.5' '50.8' '14.6' '8.7' '62.9'
 '79.7' '33.5' '31.1' '71.6' '62.5' '67.4' '22.1' '70.5' '23.8' '69.2'
 '67.9' '6.6' '29.7' '29.2' '66.3' '29.8' '51' '88' '54.5' '64.1' '32.0'
 '42' '40.1' '60' '25.9' '85.2' '17.3' '74.2' '19.7' '55.6' '54.8' '67.2'
 '38.9' '25.1' '92.0' '71.9' '18.9' '76.1' '22.6' '72.2' '44.3' '7.5'
 '88.1' '85.6' '9.4' '79.4' '82.7' '20.2' '70.8' '9.1' '64.7' '88.2'
 '42.0' '40.6' '53.2' '32.8' '36.6' '59.9' '26.8' '70.1' '29.1' '64.5'
 '68.1' '70.7' '14.9' '88.8' '65.0' '12.4' '65.7' '60.5' '25.3' '65.3'
 '14.8' '94.7' '86.8' '13.1' '92.9' '47.4' '41.4' '30' '73.9' '7.6' '67.5'
 '95.8' '71.3' '14.1' '16.6' '73.8' '43.8' '31.8' '29.5' '3.1' '16' '30.2'
 '56.8' '28.7' '5.6' '94' '44.6' '54.4' '39.7' '59.6' '40.9' '54.1' '61.8'
 '24.8' '2.0' '99.0' '35.8' '26.1' '27' '10.3' '11.8' '83.8' '48.0' '85.1'
 '12.9' '85.0' '47.0' '70' '32.2' '33' '80' '83.7' '44.9' '55.8' '43.4'
 '98.1' '59.2' '51.1' '27.5' '31.2' '50.0' '55.5' '84.6' '77.2' '58.5'
 '73.6' '77.0' '89.1' '85' '56.9' '63.4' '0.3' '1' '19.2' '31' '69.8'
 '18.5' '69.6' '11.1' '98.5' '96.3' '80.1' '46.2' '38' '14.2' '77.9'
 '15.3' '66.0' '18.8' '25.8' '94.4' '55' '89.7' '87.1' '88.3' '22.4'
 '16.8' '70.4' '40.2' '73.5' '49.2' '38.5' '24.6' '74.8' '47.9' '64'
 '89.4' '34' '17.0' '76.8' '18' '32.3' '82.1' '81.3' '64.6' '20.6' '74.3'
 '28.3' '49.5' '57.2' '18.4' '73.4' '29.3' '61.4' '10.2' '12.1' '99.5'
 '58.0' '31.9' '80.6' '60.7' '28.6' '60.8' '52.2' '62.2' '71.1' '70.9'
 '74.4' '37.9' '33.8' '41.8' '16.1' '58.8' '71' '48.4' '17.8' '45.2'
 '37.0' '61.7' '19.8' '34.8' '45.3' '51.9' '96.5' '95.0' '89.6' '27.2'
 '80.7' '1.0' '5' '57.0' '60.2' '53.0' '27.8' '34.6' '48.8' '16.5' '93.5'
 '17.7' '76.5' '17.1' '77.4' '62.4' '83.5' '90.1' '63.1' '29.6' '87.2'
 '66.7' '75.2' '15.4' '53' '74' '45.8' '50.9' '39.5' '6.0' '99.9' '52.5'
 '90.5' '46.9' '37.2' '77.3' '94.9' '285.1' '33.7' '84.8' '99.1' '96.6'
 '39.1' '96.9' '98.9' '44.7' '91.1' '23.5' '20.4' '80.8' '81.9' '15.9'
 '97.5' '97.7' '47.2' '89.5' '1.8' '75.6' '85.4' '33.1' '35.7']


Unique values in column 'Footnotes':
[nan 'Estimate.']


Unique values in column 'Source':
['United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2024.']

In [24]:
# Find the mode (most frequent value) in the 'Footnotes' column
mode_value = df['Footnotes'].mode()[0]

# Fill the null values in 'Footnotes' with the mode value
df['Footnotes'] = df['Footnotes'].fillna(mode_value)

# Verify if the null values are filled
print(df['Footnotes'].isnull().sum())

0

In [25]:
# Display the unique values for each column
for column in df.columns:
    print(f"Unique values in column '{column}':")
    print(df[column].unique())
    print("\n")

Unique values in column 'Region/Country/Area':
['4' '8' '12' '16' '20' '24' '660' '28' '32' '51' '533' '36' '40' '31'
 '48' '50' '52' '112' '56' '84' '204' '60' '64' '68' '70' '72' '76' '92'
 '96' '100' '854' '108' '132' '116' '120' '124' '136' '140' '148' '152'
 '156' '344' '446' '170' '174' '178' '184' '188' '384' '191' '192' '531'
 '196' '203' '180' '208' '262' '212' '214' '218' '818' '222' '232' '233'
 '748' '231' '242' '246' '250' '266' '270' '268' '276' '288' '292' '300'
 '308' '320' '324' '624' '328' '340' '348' '352' '356' '360' '364' '372'
 '376' '380' '388' '392' '400' '398' '404' '296' '414' '417' '418' '428'
 '422' '426' '430' '438' '440' '442' '450' '454' '458' '462' '466' '470'
 '584' '478' '480' '484' '583' '492' '496' '499' '500' '504' '508' '104'
 '516' '520' '524' '528' '554' '558' '562' '570' '807' '578' '512' '586'
 '585' '591' '600' '604' '608' '616' '620' '630' '634' '410' '498' '642'
 '643' '646' '659' '662' '670' '882' '674' '678' '682' '686' '688' '690'
 '694' '702' '534' '703' '705' '90' '710' '728' '724' '144' '275' '729'
 '752' '756' '760' '762' '764' '626' '768' '772' '776' '780' '788' '792'
 '795' '796' '798' '800' '804' '784' '826' '834' '840' '858' '860' '548'
 '862' '704' '887' '894' '716']


Unique values in column 'Public expenditure on education (as of 2021)':
['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'British Virgin Islands' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, Macao SAR' 'Colombia' 'Comoros' 'Congo' 'Cook Islands'
 'Costa Rica' 'Côte d’Ivoire' 'Croatia' 'Cuba' 'Curaçao' 'Cyprus'
 'Czechia' 'Dem. Rep. of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Eritrea' 'Estonia'
 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Grenada' 'Guatemala'
 'Guinea' 'Guinea-Bissau' 'Guyana' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait'
 'Kyrgyzstan' "Lao People's Dem. Rep." 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Fed. States of)' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands (Kingdom of the)' 'New Zealand' 'Nicaragua'
 'Niger' 'Niue' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent & Grenadines' 'Samoa' 'San Marino' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'State of Palestine'
 'Sudan' 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan'
 'Thailand' 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago'
 'Tunisia' 'Türkiye' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United Rep. of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Yemen'
 'Zambia' 'Zimbabwe']


Unique values in column 'Year':
['2010' '2015' '2019' '2021' '2022' '2023' '2006' '2013' '2016' '2005'
 '2008' '2002' '2009' '2018' '2004' '2014' '2000' '2020' '2012' '2003'
 '2017' '2007' '2011' '2001']


Unique values in column 'Series':
['Current expenditure other than staff compensation as % of total expenditure in public institutions (%)'
 'All staff compensation as % of total expenditure in public institutions (%)'
 'Capital expenditure as % of total expenditure in public institutions (%)'
 'Basic access to computers by level of education: Primary'
 'Basic access to computers by level of education: Lower secondary'
 'Basic access to computers by level of education: Upper secondary']


Unique values in column 'Value':
['9.3' '72.4' '18.3' '9.0' '71.4' '19.6' '10' '23' '12.5' '79.5' '8.1'
 '7.4' '84.2' '8.4' '83.0' '83' '67' '8.9' '80.4' '10.6' '61.9' '99' '6.2'
 '30.9' '36.7' '1.7' '59.4' '40.0' '0.6' '63.6' '1.3' '58.1' '40.7'
 '100.0' '100' '24.3' '7.0' '25' '49' '6.7' '80.9' '9.8' '69.4' '20.8'
 '25.7' '3.9' '21.6' '73.2' '5.2' '90.0' '11.6' '87.6' '0.8' '9.9' '85.9'
 '4.2' '7.2' '82.0' '10.8' '58.7' '72' '75' '7.9' '88.0' '4.1' '62.7' '57'
 '59' '8.5' '65.5' '26.0' '88.5' '19.9' '72.1' '8.0' '6.1' '90.7' '3.2'
 '5.7' '87.0' '6.9' '93.1' '93.0' '24.7' '68.3' '27.1' '65.2' '7.7' '23.2'
 '4.7' '24.9' '70.2' '4.9' '26.2' '5.5' '24.4' '68.7' '6.8' '31.6' '66.8'
 '1.6' '32.6' '64.8' '2.5' '45.9' '52.0' '2.2' '25.0' '9.6' '97.8' '98.4'
 '13.8' '82.3' '3.8' '21.2' '59.8' '19.0' '4.3' '95.2' '0.5' '16.0' '55.0'
 '29.0' '41.7' '77' '76' '78' '16.2' '79.9' '4.0' '10.4' '83.4' '47.8'
 '48.6' '3.6' '45.0' '53.8' '1.2' '30.1' '4.8' '26.5' '62.6' '10.9' '26.4'
 '68.9' '22.0' '68.8' '9.2' '11.7' '85.5' '2.8' '11.9' '84.3' '13.9'
 '81.0' '5.0' '12.8' '81.7' '5.4' '96.8' '12.6' '82.2' '5.1' '62.3' '19.3'
 '13.3' '73.0' '13.7' '85.7' '8.2' '22.2' '69.5' '8.3' '29' '37' '18.6'
 '1.5' '50.1' '35.9' '14.0' '14.5' '86' '97' '23.1' '10.0' '67.3' '14.4'
 '28' '17.5' '69.1' '13.4' '82.4' '27.9' '23.6' '70.3' '68.5' '40.5' '90'
 '24.0' '69.7' '21.3' '74.7' '22.9' '74.6' '53.5' '73' '20.3' '75.9' '3.7'
 '2.3' '90.3' '0.7' '99.3' '15.1' '77.8' '7.1' '65.6' '30.6' '66.2' '26.7'
 '63.2' '10.1' '28.4' '66.6' '20.9' '71.8' '7.3' '43.3' '20.0' '75.4'
 '4.5' '56.7' '35.3' '4' '3' '15.7' '57.8' '26.6' '23.7' '20.5' '77.6'
 '1.9' '0.0' '17' '0' '2.1' '16.7' '15.6' '77.1' '14.3' '12.2' '82.8'
 '51.5' '57.3' '42.7' '5.3' '15' '6.5' '80.2' '10.7' '75.7' '13.6' '84'
 '25.4' '70.0' '4.6' '24.5' '65.8' '9.7' '22.8' '7.8' '78.1' '22.7' '69.9'
 '85.8' '21.5' '2.4' '97.6' '76.9' '79.2' '13.5' '1.1' '31.3' '2.6' '75.5'
 '21.9' '8' '12' '4.4' '18.1' '78.9' '3.0' '63.9' '68.0' '51.6' '25.6'
 '69.3' '92' '12.7' '18.2' '90.9' '19.5' '39.0' '41.5' '31.7' '59.1'
 '21.1' '67.8' '11.2' '23.3' '71.0' '22.3' '66.4' '27.4' '93.9' '5.8'
 '69.0' '25.2' '83.6' '13.2' '81.2' '93' '95' '78.0' '91' '30.8' '41' '52'
 '20' '61' '16.3' '75.0' '72.9' '71.7' '87' '75.1' '2.9' '21.8' '71.2'
 '21.4' '72.7' '5.9' '82.6' '77.7' '47' '15.8' '30.0' '23.0' '70.6' '6.4'
 '26.3' '17.4' '74.5' '41.9' '34.3' '52.6' '58.6' '0.9' '86.1' '11.5'
 '77.5' '11.0' '13.0' '82.9' '87.9' '83.2' '32.5' '34.4' '56.0' '38.4'
 '56.6' '35.5' '96.7' '30.3' '60.4' '98.3' '98.8' '87.8' '81.4' '16.9'
 '20.7' '74.1' '18.0' '74.9' '73.7' '72.5' '42.2' '2.7' '38.8' '24.1'
 '72.6' '3.4' '15.5' '66.9' '17.6' '46.5' '48' '11.3' '86.2' '72.8' '89'
 '86.4' '98' '84.1' '27.3' '37.8' '51.7' '10.5' '59.0' '81' '67.1' '48.3'
 '68' '61.0' '79' '96' '94.1' '99.6' '21.7' '8.6' '31.0' '57.7' '28.8'
 '56.3' '15.0' '9.5' '26.9' '22.5' '12.0' '36.2' '59.3' '21.0' '44.8'
 '34.1' '42.4' '38.3' '98.7' '0.1' '32.1' '60.9' '33.6' '60.3' '34.7'
 '56.5' '8.8' '54.3' '11.4' '52.8' '76.2' '38.2' '45.5' '46.4' '42.8'
 '50.4' '20.1' '73.1' '18.7' '54.0' '63.0' '14.7' '73.3' '13' '35' '42.3'
 '54.2' '3.5' '80.0' '50.7' '3.3' '32.4' '75.3' '44' '66' '37.4' '28.1'
 '68.4' '67.6' '12.3' '6.3' '92.3' '1.4' '61.5' '50.8' '14.6' '8.7' '62.9'
 '79.7' '33.5' '31.1' '71.6' '62.5' '67.4' '22.1' '70.5' '23.8' '69.2'
 '67.9' '6.6' '29.7' '29.2' '66.3' '29.8' '51' '88' '54.5' '64.1' '32.0'
 '42' '40.1' '60' '25.9' '85.2' '17.3' '74.2' '19.7' '55.6' '54.8' '67.2'
 '38.9' '25.1' '92.0' '71.9' '18.9' '76.1' '22.6' '72.2' '44.3' '7.5'
 '88.1' '85.6' '9.4' '79.4' '82.7' '20.2' '70.8' '9.1' '64.7' '88.2'
 '42.0' '40.6' '53.2' '32.8' '36.6' '59.9' '26.8' '70.1' '29.1' '64.5'
 '68.1' '70.7' '14.9' '88.8' '65.0' '12.4' '65.7' '60.5' '25.3' '65.3'
 '14.8' '94.7' '86.8' '13.1' '92.9' '47.4' '41.4' '30' '73.9' '7.6' '67.5'
 '95.8' '71.3' '14.1' '16.6' '73.8' '43.8' '31.8' '29.5' '3.1' '16' '30.2'
 '56.8' '28.7' '5.6' '94' '44.6' '54.4' '39.7' '59.6' '40.9' '54.1' '61.8'
 '24.8' '2.0' '99.0' '35.8' '26.1' '27' '10.3' '11.8' '83.8' '48.0' '85.1'
 '12.9' '85.0' '47.0' '70' '32.2' '33' '80' '83.7' '44.9' '55.8' '43.4'
 '98.1' '59.2' '51.1' '27.5' '31.2' '50.0' '55.5' '84.6' '77.2' '58.5'
 '73.6' '77.0' '89.1' '85' '56.9' '63.4' '0.3' '1' '19.2' '31' '69.8'
 '18.5' '69.6' '11.1' '98.5' '96.3' '80.1' '46.2' '38' '14.2' '77.9'
 '15.3' '66.0' '18.8' '25.8' '94.4' '55' '89.7' '87.1' '88.3' '22.4'
 '16.8' '70.4' '40.2' '73.5' '49.2' '38.5' '24.6' '74.8' '47.9' '64'
 '89.4' '34' '17.0' '76.8' '18' '32.3' '82.1' '81.3' '64.6' '20.6' '74.3'
 '28.3' '49.5' '57.2' '18.4' '73.4' '29.3' '61.4' '10.2' '12.1' '99.5'
 '58.0' '31.9' '80.6' '60.7' '28.6' '60.8' '52.2' '62.2' '71.1' '70.9'
 '74.4' '37.9' '33.8' '41.8' '16.1' '58.8' '71' '48.4' '17.8' '45.2'
 '37.0' '61.7' '19.8' '34.8' '45.3' '51.9' '96.5' '95.0' '89.6' '27.2'
 '80.7' '1.0' '5' '57.0' '60.2' '53.0' '27.8' '34.6' '48.8' '16.5' '93.5'
 '17.7' '76.5' '17.1' '77.4' '62.4' '83.5' '90.1' '63.1' '29.6' '87.2'
 '66.7' '75.2' '15.4' '53' '74' '45.8' '50.9' '39.5' '6.0' '99.9' '52.5'
 '90.5' '46.9' '37.2' '77.3' '94.9' '285.1' '33.7' '84.8' '99.1' '96.6'
 '39.1' '96.9' '98.9' '44.7' '91.1' '23.5' '20.4' '80.8' '81.9' '15.9'
 '97.5' '97.7' '47.2' '89.5' '1.8' '75.6' '85.4' '33.1' '35.7']


Unique values in column 'Footnotes':
['Estimate.']


Unique values in column 'Source':
['United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2024.']